@charset "UTF-8";
* {
	margin: 0; 
	padding: 0;
} 

body {
	font: 16px 'Arial', sans-serif;
	background: #D1D1D1;
}

header, nav, section { 
	border: 1px solid #999; 
	padding: 1%; 
} 

footer { 
	 text-align: center;
}

nav a{
	margin: 0px 10px 0px 0px;
	background: #014552;
	color: #ffff;
	
}

.margin-left{
	margin-left: 10px;
}

form {
    margin-left: 50px;
}

input {
    display: block;
    margin-top: 10px;
}

td{
	background: transparent !important;
}

.margin-bottom {
	margin-bottom: 12px;
}

@media only screen and (max-width:800px){
	header, 
	footer {
		display: none;		}
}

button {
    display: inline-block; /* Permite al botón tener un tamaño como un bloque */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo */
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: transform 0.2s; /* Animación suave para la transformación */
}

button:hover {
    transform: scale(1.1); /* Aumenta el tamaño un 10% al pasar el ratón */
}



