@charset "UTF-8";
* {
	margin: 0; 
	padding: 0;
	background: #D1D1D1;
} 

body {
	font: 16px Georgia, serif;
}

header, nav, section { 
	border: 1px solid #999; 
	padding: 1%; 
	margin-bottom: 1px; 
} 

header, header table, header td, header h1 {
	background: #AFF0E9;
}

footer { 
	 text-align: center;
}

nav a{
	margin: 0px 10px 0px 0px;
}

.margin-left{
	margin-left: 10px;
}

form {
    margin-left: 50px;
}

input {
    display: block;
    margin-top: 10px;
}

nav, a {
	background: #014552;
	color: #ffff;
}
